# Reown AppKit
VITE_REOWN_PROJECT_ID=

# WEB3
VITE_NETWORK_MODE=testnet

#ETHERIUM CONTRACTS
VITE_CTGVAULT_ETH_MAINNET_CONTRACT=
VITE_CTGVAULT_ETH_TESTNET_CONTRACT=

# BSC CONTRACT ADDRESSES
VITE_CTGVAULT_BSC_MAINNET_CONTRACT=
VITE_CTGVAULT_BSC_TESTNET_CONTRACT=

# Ethereum RPC URLs
VITE_ALCHEMY_ETH_MAINNET_RPC_URL=
VITE_ANKR_ETH_MAINNET_RPC_URL=
VITE_ALCHEMY_ETH_TESTNET_RPC_URL=
VITE_ANKR_ETH_TESTNET_RPC_URL=

# Binance Smart Chain RPC URLs
VITE_ALCHEMY_BSC_TESTNET_RPC_URL=
VITE_ANKR_BSC_TESTNET_RPC_URL=
VITE_ALCHEMY_BSC_MAINNET_RPC_URL=
VITE_ANKR_BSC_MAINNET_RPC_URL=

# API Keys
VITE_ANKR_API_KEY=
VITE_ALCHEMY_API_KEY=
VITE_ETHERSCAN_API_KEY=
VITE_BSCSCAN_API_KEY=

# Etherscan URLs
VITE_ETHERSCAN_ETH_URL=https://etherscan.io
VITE_ETHERSCAN_BSC_URL=https://bscscan.com
